{#
	@var string class plain text
#}
<section class="v-sponsors {{class}}">
	<div class="container v-sponsors__header">
		<div class="v-sponsors__header-titles">
			<h2 class="v-sponsors__title">{{title}}</h1>
			<h3 class="v-sponsors__subtitle">{{subtitle}}</h3>
		</div>
	</div>

	<div class="container">
		<div class="v-sponsors__wrap">
			{% for item in items %}
				<div class="v-sponsor" data-elb="sponsor" data-elb-sponsor="name: {{item.post_title}}">
					<a href="{{item.sponsor_website}}" target="_blank" rel="nofollow noopener" data-elbaction="click:page_view">
						{% include 'img/img.twig' with {
							id: item.sponsor_logo,
							class: 'v-sponsor__img'
						} %}
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="v-sponsors__cta-wrap">
			{% if cta.link.internal_url or cta.link.external_url %}
				{% set link = (cta.link_type == 'internal') ? cta.link.internal_url : cta.link.external_url %}
				<a class="v-sponsors__cta v-button" href="{{link}}" {% if cta.link.new_tab %}target="_blank"{% endif %}>{{cta.link.text}}</a>
			{% endif %}
		</div>
	</div>
</section>
