{#
	@var string class plain text
#}
<header class="v-header {{class}} v-header">
	<div class="v-header__inner">
		<nav class="v-header__nav" id="nav">
			<ul class="v-header__nav-list" role="menubar" aria-label="Main Navigation">
				<li class="v-header__nav-item v-header__nav-logo" role="none">
					<a
						href="/"
						class="v-header__nav-link"
						role="menuitem"
					>

					<svg class="v-header__logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 267.04 98.73">
						<g class="v-header__logo--top">
						<path d="M34.32,7.24V67.58a5.41,5.41,0,0,1-5.39,5.48H7A5.49,5.49,0,0,1,1.5,67.58V7.24A5.49,5.49,0,0,1,7,1.75H28.93A5.41,5.41,0,0,1,34.32,7.24Zm-10.88,54V13.48a.82.82,0,0,0-.85-.75H13.32a.83.83,0,0,0-.85.75V61.24a.85.85,0,0,0,.85.85h9.27A.84.84,0,0,0,23.44,61.24Z""/>
						<path d="M57.21,32l4.54-29.6a.91.91,0,0,1,.85-.67h9.27a.76.76,0,0,1,.75,1L61.94,72.31a.74.74,0,0,1-.76.75H51.63a.89.89,0,0,1-.85-.75L40.09,2.7a.78.78,0,0,1,.85-1h9.27a.91.91,0,0,1,.85.67L55.51,32C56,35,56.74,35,57.21,32Z""/>
						<path d="M77.92,72.21V2.61a.85.85,0,0,1,.85-.86H110a.84.84,0,0,1,.76.86v9.26a.84.84,0,0,1-.76.86H89.74a.83.83,0,0,0-.85.75V31.07a.84.84,0,0,0,.85.85H104.5a.85.85,0,0,1,.85.85V42a.84.84,0,0,1-.85.85H89.74a.85.85,0,0,0-.85.86V61.24a.85.85,0,0,0,.85.85H110a.84.84,0,0,1,.76.85v9.27a.83.83,0,0,1-.76.85H78.77A.84.84,0,0,1,77.92,72.21Z""/>
						<path d="M150.37,7.24V37.41A5.41,5.41,0,0,1,145,42.89h-2.75a.79.79,0,0,0-.75,1l8.6,28a.88.88,0,0,1-.85,1.13h-9.17a.83.83,0,0,1-.76-.56l-8.89-29a.91.91,0,0,0-.85-.57h-.19a.85.85,0,0,0-.85.86V72.21a.84.84,0,0,1-.85.85H118.4a.84.84,0,0,1-.85-.85V2.61a.85.85,0,0,1,.85-.86H145A5.41,5.41,0,0,1,150.37,7.24ZM139.49,31.07V13.48a.83.83,0,0,0-.85-.75h-9.27a.83.83,0,0,0-.85.75V31.07a.84.84,0,0,0,.85.85h9.27A.84.84,0,0,0,139.49,31.07Z""/>
						<path d="M170.79,2.61V61.24a.85.85,0,0,0,.86.85h20.23a.84.84,0,0,1,.76.85v9.27a.83.83,0,0,1-.76.85h-31.2a.85.85,0,0,1-.86-.85V2.61a.85.85,0,0,1,.86-.86h9.26A.85.85,0,0,1,170.79,2.61Z""/>
						<path d="M198.32,72.21V2.61a.85.85,0,0,1,.85-.86h31.21a.83.83,0,0,1,.75.86v9.26a.83.83,0,0,1-.75.86H210.14a.83.83,0,0,0-.85.75V31.07a.84.84,0,0,0,.85.85h14.75a.84.84,0,0,1,.85.85V42a.84.84,0,0,1-.85.85H210.14a.85.85,0,0,0-.85.86V61.24a.85.85,0,0,0,.85.85h20.24a.83.83,0,0,1,.75.85v9.27a.82.82,0,0,1-.75.85H199.17A.84.84,0,0,1,198.32,72.21Z""/>
						<path d="M247.5,1.75h9.55a.74.74,0,0,1,.76.67l10.68,69.7a.79.79,0,0,1-.75.94h-9.27a.82.82,0,0,1-.85-.75l-1.42-9.46a.91.91,0,0,0-.85-.76H249.2a.83.83,0,0,0-.85.76l-1.42,9.46a.89.89,0,0,1-.85.75h-9.27a.81.81,0,0,1-.85-.94l10.69-69.7A.91.91,0,0,1,247.5,1.75Zm3.59,49.37h2.27a.78.78,0,0,0,.85-.94l-1.13-7.38a.87.87,0,0,0-1.71,0l-1.13,7.38A.87.87,0,0,0,251.09,51.12Z""/>
						</g>
						<g class="v-header__logo--bottom">
							<path d="M12.3,84v3.88a.23.23,0,0,1-.24.21H9c-.16,0-.28-.09-.28-.21V85.59c0-.09-.12-.19-.28-.19h-3c-.15,0-.28.1-.28.19V97.53c0,.12.13.21.28.21h3c.16,0,.28-.09.28-.21V95.21c0-.12.12-.21.28-.21h3a.23.23,0,0,1,.24.21v3.9a1.59,1.59,0,0,1-1.76,1.37H3.35a1.63,1.63,0,0,1-1.8-1.37V84a1.63,1.63,0,0,1,1.8-1.37h7.19A1.59,1.59,0,0,1,12.3,84Z""/>
							<path d="M26.16,84V99.11a1.6,1.6,0,0,1-1.77,1.37H17.2a1.63,1.63,0,0,1-1.8-1.37V84a1.63,1.63,0,0,1,1.8-1.37h7.19A1.6,1.6,0,0,1,26.16,84Zm-3.57,13.5V85.59c0-.09-.12-.19-.27-.19h-3c-.16,0-.28.1-.28.19V97.53c0,.12.12.21.28.21h3A.24.24,0,0,0,22.59,97.53Z""/>
							<path d="M42.4,82.66h3.31c.16,0,.28.09.28.21v17.4c0,.12-.12.21-.28.21h-3c-.16,0-.28-.09-.28-.21V93c0-.76-.25-.81-.53,0l-1.95,4.82h-3.6l-2-4.82c-.28-.76-.52-.71-.52,0v7.3c0,.12-.13.21-.28.21h-3c-.16,0-.28-.09-.28-.21V82.87c0-.12.12-.21.28-.21h3.1a.33.33,0,0,1,.28.14l3.93,9.83c.16.36.41.36.53,0Z""/>
							<path d="M62.24,82.66h3.31c.16,0,.28.09.28.21v17.4c0,.12-.12.21-.28.21h-3a.24.24,0,0,1-.27-.21V93c0-.76-.25-.81-.53,0l-2,4.82h-3.6l-1.95-4.82c-.28-.76-.53-.71-.53,0v7.3c0,.12-.12.21-.28.21h-3c-.16,0-.28-.09-.28-.21V82.87c0-.12.12-.21.28-.21h3.1a.31.31,0,0,1,.27.14l3.94,9.83c.16.36.4.36.53,0Z""/>
							<path d="M77.11,97.53V82.87c0-.12.13-.21.28-.21h3a.24.24,0,0,1,.25.21V99.11a1.6,1.6,0,0,1-1.77,1.37H71.72a1.63,1.63,0,0,1-1.8-1.37V82.87c0-.12.13-.21.28-.21h3c.16,0,.28.09.28.21V97.53c0,.12.12.21.28.21h3A.24.24,0,0,0,77.11,97.53Z""/>
							<path d="M92,90.18V82.87c0-.12.12-.21.28-.21h3a.23.23,0,0,1,.24.21v17.4a.23.23,0,0,1-.24.21H92.15a.3.3,0,0,1-.25-.14l-3-7.42c-.28-.76-.52-.71-.52,0v7.3c0,.12-.13.21-.28.21h-3c-.16,0-.28-.09-.28-.21V82.87c0-.12.12-.21.28-.21h3.1a.33.33,0,0,1,.28.14l3,7.42C91.71,91,92,90.93,92,90.18Z""/>
							<path d="M99.62,100.27V82.87c0-.12.12-.21.28-.21h3c.16,0,.28.09.28.21v17.4c0,.12-.12.21-.28.21h-3C99.74,100.48,99.62,100.39,99.62,100.27Z""/>
							<path d="M104.89,85.19V82.87c0-.12.12-.21.28-.21h10.22a.23.23,0,0,1,.25.21v2.32a.23.23,0,0,1-.25.21h-3c-.15,0-.27.1-.27.19v14.68c0,.12-.13.21-.28.21h-3c-.15,0-.28-.09-.28-.21V85.59c0-.09-.12-.19-.28-.19h-3C105,85.4,104.89,85.31,104.89,85.19Z""/>
							<path d="M122.43,86.47l1.49-3.67a.3.3,0,0,1,.24-.14h3c.22,0,.34.12.28.26L124,91.55v8.72c0,.12-.13.21-.28.21h-3c-.15,0-.28-.09-.28-.21V91.59s0,0,0,0l-3.44-8.63c-.06-.14,0-.26.25-.26h3a.35.35,0,0,1,.28.14l1.45,3.67C122.06,86.82,122.3,86.82,122.43,86.47Z""/>
							<path d="M140.59,82.66h3.13c.13,0,.25.07.25.17l3.5,17.42c0,.11-.09.23-.25.23h-3a.25.25,0,0,1-.28-.19l-.47-2.36a.27.27,0,0,0-.28-.19h-2a.26.26,0,0,0-.28.19l-.46,2.36a.28.28,0,0,1-.28.19h-3c-.19,0-.31-.12-.28-.23l3.5-17.42A.29.29,0,0,1,140.59,82.66ZM141.77,95h.74c.19,0,.31-.1.28-.24l-.37-1.84c0-.24-.49-.24-.56,0l-.37,1.84A.26.26,0,0,0,141.77,95Z""/>
							<path d="M160,84v3.88a.23.23,0,0,1-.24.21h-3c-.16,0-.28-.09-.28-.21V85.59c0-.09-.12-.19-.28-.19h-3c-.15,0-.28.1-.28.19V90c0,.12.13.21.28.21h5.12A1.59,1.59,0,0,1,160,91.57v7.54a1.59,1.59,0,0,1-1.76,1.37H151a1.63,1.63,0,0,1-1.8-1.37v-3.9c0-.12.12-.21.28-.21h3a.24.24,0,0,1,.27.21v2.32c0,.12.13.21.28.21h3c.16,0,.28-.09.28-.21V93.15a.25.25,0,0,0-.28-.21H151a1.63,1.63,0,0,1-1.8-1.37V84a1.63,1.63,0,0,1,1.8-1.37h7.19A1.59,1.59,0,0,1,160,84Z""/>
							<path d="M174.81,84v3.88a.23.23,0,0,1-.25.21h-3a.24.24,0,0,1-.27-.21V85.59c0-.09-.13-.19-.28-.19h-3c-.15,0-.28.1-.28.19V90c0,.12.13.21.28.21H173a1.59,1.59,0,0,1,1.77,1.37v7.54a1.59,1.59,0,0,1-1.77,1.37h-7.19a1.62,1.62,0,0,1-1.79-1.37v-3.9c0-.12.12-.21.28-.21h3c.16,0,.28.09.28.21v2.32c0,.12.13.21.28.21h3c.15,0,.28-.09.28-.21V93.15c0-.11-.13-.21-.28-.21h-5.12a1.62,1.62,0,0,1-1.79-1.37V84a1.62,1.62,0,0,1,1.79-1.37H173A1.59,1.59,0,0,1,174.81,84Z""/>
							<path d="M189.66,84V99.11a1.6,1.6,0,0,1-1.77,1.37H180.7a1.63,1.63,0,0,1-1.8-1.37V84a1.63,1.63,0,0,1,1.8-1.37h7.19A1.6,1.6,0,0,1,189.66,84Zm-3.57,13.5V85.59c0-.09-.12-.19-.28-.19h-3c-.16,0-.28.1-.28.19V97.53c0,.12.12.21.28.21h3C186,97.74,186.09,97.65,186.09,97.53Z""/>
							<path d="M204.5,84v3.88a.23.23,0,0,1-.25.21h-3c-.16,0-.28-.09-.28-.21V85.59c0-.09-.13-.19-.28-.19h-3c-.15,0-.28.1-.28.19V97.53c0,.12.13.21.28.21h3c.15,0,.28-.09.28-.21V95.21c0-.12.12-.21.28-.21h3a.23.23,0,0,1,.25.21v3.9a1.59,1.59,0,0,1-1.76,1.37h-7.19a1.63,1.63,0,0,1-1.8-1.37V84a1.63,1.63,0,0,1,1.8-1.37h7.19A1.59,1.59,0,0,1,204.5,84Z""/>
							<path d="M207.6,100.27V82.87c0-.12.13-.21.28-.21h3c.16,0,.28.09.28.21v17.4c0,.12-.12.21-.28.21h-3C207.73,100.48,207.6,100.39,207.6,100.27Z""/>
							<path d="M216.87,82.66H220c.13,0,.25.07.25.17l3.5,17.42c0,.11-.09.23-.25.23h-3a.25.25,0,0,1-.28-.19l-.47-2.36a.27.27,0,0,0-.28-.19h-2a.25.25,0,0,0-.28.19l-.46,2.36a.29.29,0,0,1-.28.19h-3c-.19,0-.31-.12-.28-.23l3.5-17.42A.29.29,0,0,1,216.87,82.66ZM218.05,95h.74c.19,0,.31-.1.28-.24l-.37-1.84c0-.24-.5-.24-.56,0l-.37,1.84A.25.25,0,0,0,218.05,95Z""/>
							<path d="M222.67,85.19V82.87c0-.12.12-.21.28-.21h10.22a.23.23,0,0,1,.25.21v2.32a.23.23,0,0,1-.25.21h-3c-.16,0-.28.1-.28.19v14.68c0,.12-.13.21-.28.21h-3c-.15,0-.28-.09-.28-.21V85.59c0-.09-.12-.19-.28-.19h-3C222.79,85.4,222.67,85.31,222.67,85.19Z""/>
							<path d="M235.25,100.27V82.87c0-.12.13-.21.28-.21h3c.15,0,.28.09.28.21v17.4c0,.12-.13.21-.28.21h-3C235.38,100.48,235.25,100.39,235.25,100.27Z""/>
							<path d="M253.69,84V99.11a1.59,1.59,0,0,1-1.76,1.37h-7.19a1.63,1.63,0,0,1-1.8-1.37V84a1.63,1.63,0,0,1,1.8-1.37h7.19A1.59,1.59,0,0,1,253.69,84Zm-3.56,13.5V85.59c0-.09-.13-.19-.28-.19h-3c-.15,0-.28.1-.28.19V97.53c0,.12.13.21.28.21h3C250,97.74,250.13,97.65,250.13,97.53Z""/>
							<path d="M265,90.18V82.87a.24.24,0,0,1,.27-.21h3a.23.23,0,0,1,.25.21v17.4a.23.23,0,0,1-.25.21h-3.13a.32.32,0,0,1-.25-.14l-3-7.42c-.28-.76-.53-.71-.53,0v7.3c0,.12-.12.21-.28.21h-3a.24.24,0,0,1-.27-.21V82.87a.24.24,0,0,1,.27-.21h3.1a.32.32,0,0,1,.28.14l3,7.42C264.73,91,265,90.93,265,90.18Z""/>
							</g>
						</svg>
					</a>
				</li>
				{% for item in menu.items %}
					<li class="v-header__nav-item {{item.classes|join(' ')}} {% if item.children %} v-header__nav-has-children{% endif %}" {% if item.children %}tabindex="0"{% endif %}  role="none">
						{% set element = item.children ? 'span' : 'a' %}

						<{{element}}
							href="{{item.link}}"
							{{item.target == '_blank' ? 'target="_blank" rel="noopener"'}} class="v-header__nav-link {% if item.children %}v-link{% endif %}"
							role="menuitem"
						>
							{{item.title}}
								{% if item.children %}
								<span class="v-header__nav-child-arrow"></span>
								<ul class="v-header__nav-child-list" role="menubar" aria-label="Main Navigation">
									{% for child in item.children %}
										<li class="v-header__nav-child-item {{child.classes|join(' ')}} {% if child.children %} v-header__nav-child-has-children{% endif %}" role="none">
											<a
												href="{{child.link}}"
												{{child.target == '_blank' ? 'target="_blank" rel="noopener"'}} class="v-header__nav-child-link v-link"
												role="menuitem"
											>
											{{child.title}}
											</a>
										</li>
									{% endfor %}
								</ul>
								{% endif %}
						</{{element}}>
					</li>
				{% endfor %}
				<li class="v-header__nav-item v-header__nav-search" role="none">
					<label for="search" class="v-header__nav-search-label">
						<input type="text" id="search" class="v-header__nav-search-input" placeholder="Search">
					</label>
				</li>
			</ul>
		</nav>

		<button class="v-header__hamburger" aria-controls='nav'>
			<span class="sr-only">Menu</span>
			<span class="v-header__hamburger-span"></span>
			<span class="v-header__hamburger-span"></span>
			<span class="v-header__hamburger-span"></span>
		</button>
	</div>
</header>
