{#
	@var string class plain text
#}

{% for item in items %}

	<article class="v-card {{class}}">
		{% set element = ('v-card--leader' in class) ? 'span' : 'a' %}
		<{{element}} tabindex=0 href="{{Post(item.ID).link}}" class="v-card__link">
			<div class="v-card__inner">
				<div class="v-card__bg">
					<div class="v-card__bg-overlay"></div>
					{% if item.meta('slider')[0].slider_image %}
						{% include 'img/img.twig' with {
							id: item.meta('slider')[0].slider_image,
							class: 'v-card__bg-img'
						} %}
					{% else %}
						<img class="v-card__bg-img" src="{{theme.link}}/img/overlea-sign.jpg" alt="overlea wall art" width="416" height="227">
					{% endif %}

				</div>
				<div class="v-card__content">
					<h3 class="v-card__content-title">{{item.post_title}}</h3>
					{% if 'v-card--leader' in class %}
						<p class="v-card__content-position">{{title}}</p>
					{% endif %}
					<p class="v-card__content-subtitle">
						{{item.excerpt}}
					</p>
					<div class="v-card__content-cta">
						<span aria-label="link to {{title}}" class="v-card__content-cta-text sr-only">{{cta}}</span>
					</div>
				</div>
			</div>
		</{{element}}>
	</article>
{% endfor %}

{% if cta %}
	{% set link = (cta.link_type == 'internal') ? cta.link.internal_url : cta.link.external_url %}
	<article class="v-card v-card--third v-card--tablet">
		<a class="v-card__link" href="{{link}}" {% if cta.link.new_tab %}target="_blank"{% endif %}>
			<div class="v-card__inner">
				<div class="v-card__bg">
					<div class="v-card__bg-overlay"></div>
					<img class="v-card__bg-img" src="https://images.unsplash.com/photo-1606787947360-4181fe0ab58c?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80" alt="placeholder" width="400" height="300">
				</div>
				<div class="v-card__content">
					<h3 class="v-card__content-title">{{cta.link.text}}</h3>
					<div class="v-card__content-cta">
						<span aria-label="link to all news" class="v-card__content-cta-text sr-only">View More</span>
					</div>
				</div>
			</div>
		</a>
	</article>
{% endif %}
