{#
	@var string class plain text
#}
{% set is404 = fn('is_404') %}
<article class="v-slider {{class}}">
	<div id="my-keen-slider" class="v-slider__wrap keen-slider">
		{% if slides %}
			{% for slide in slides %}
				<div class="v-slider__img-wrap keen-slider__slide number-slide1">
					<div class="v-slider__overlay"></div>
					{% if slide.slider_image %}
						{% if slide.slider_img_blur %}
							{% include 'img/img.twig' with {
								id: slide.slider_image,
								class: 'v-slider__img v-slider__img--blur'
							} %}
						{% endif %}
						{% include 'img/img.twig' with {
							id: slide.slider_image,
							class: 'v-slider__img'
						} %}
					{% else %}
						<img class="v-slider__img" src="{{theme.link}}/img/overlea-sign.jpg" alt="overlea neighborhood art sign" width="1920" height="1080">
					{% endif %}
					<!-- if function('is_template', 'template-frontpage.php') %} // element a : span -->
					{% if slide.slider_link.link_type  != 'none' and slide.slider_link.link_type %}
						{% set link = (slide.slider_link.link_type == 'internal') ? slide.slider_link.link.internal_url : slide.slider_link.link.external_url %}
						<a class="v-slider__link v-slider__link--link" href="{{link}}" {% if slide.slider_link.link.new_tab %}target="_blank"{% endif %}>
							{% if slide.slider_link.link.text %}
								{% set header = loop.index == 1 ? 1 : 2 %}
								<h{{header}} class="v-slider__text-title alpha"><span>{{ slide.slider_link.link.text }}</span></h{{header}}>
							{% endif %}

							{% if slide.slider_subtitle %}
								<h3 class="v-slider__text-subtitle"><span>{{ slide.slider_subtitle }}</span></h3>
							{% endif %}
						</a>
					{% else %}
						<span class="v-slider__link">
							{% set header = loop.index == 1 ? 1 : 2 %}
							{% if slide.slider_link.link.text %}
								<h{{header}} class="v-slider__text-title alpha"><span>{{ slide.slider_link.link.text }}</span></h{{header}}>
							{% else %}
								<h{{header}} class="v-slider__text-title alpha"><span>{{ title|default(post.post_title) }}</span></h{{header}}>
							{% endif %}

							{% if slide.slider_subtitle %}
								<h3 class="v-slider__text-subtitle"><span>{{ slide.slider_subtitle }}</span></h3>
							{% endif %}
						</span>
					{% endif %}
				</div>
			{% endfor %}
		{% else %}
			<div class="v-slider__img-wrap keen-slider__slide number-slide1">
				<div class="v-slider__overlay"></div>
				<img class="v-slider__img" src="{{theme.link}}/img/overlea-sign.jpg" alt="overlea neighborhood art sign" width="1920" height="1080">
				<span class="v-slider__link">
					{% if slide.slider_link.link.text %}
						<h1 class="v-slider__text-title"><span>{{ slide.slider_link.link.text }}</span></h1>
					{% elseif is404 %}
						<h1 class="v-slider__text-title"><span>404</span></h1>
						<h2 class="v-slider__text-subtitle"><span>Oooops, looks like this page cannot be found or does not exist.</span></h2>
					{% else %}
						<h1 class="v-slider__text-title"><span>{{ title|default(post.post_title) }}</span></h1>
					{% endif %}
				</span>
			</div>
		{% endif %}
		{% if post.meta('hero_img') %}

			<div class="v-slider__img-wrap keen-slider__slide number-slide1">
				<div class="v-slider__overlay"></div>
				{% if slides %}
					{% if post.meta('hero_img_blur') %}
						{% include 'img/img.twig' with {
							id: slides,
							class: 'v-slider__img v-slider__img--blur'
						} %}
					{% endif %}
					{% include 'img/img.twig' with {
						id: slides,
						class: 'v-slider__img'
					} %}
				{% else %}
					<img class="v-slider__img" src="{{theme.link}}/img/overlea-sign.jpg" alt="overlea neighborhood art sign" width="1920" height="1080">
				{% endif %}
				<span class="v-slider__link">
					{% set header = loop.index == 1 ? 1 : 2 %}
						<h{{header}} class="v-slider__text-title alpha"><span>{{ post.post_title }}</span></h{{header}}>
				</span>
			</div>
		{% endif %}
	</div>
	{% if count > 1 %}
		<svg
			id="arrow-left"
			class="arrow arrow--left"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
		>
			<path
				d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z"
			></path>
		</svg>
		<svg
			id="arrow-right"
			class="arrow arrow--right"
			xmlns="http://www.w3.org/2000/svg"
			viewBox="0 0 24 24"
		>
			<path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path>
		</svg>
	{% endif %}
</div>
{% if count > 1 %}
	<div id="dots" class="v-slider__dots dots"></div>
{% endif %}
</article>
