{# @var string class plain text #}
<article class="v-content {{ class }}">
	<div class="container">
		<div class="v-content__inner">
			<div class="v-content__content">
				{{content}}
			</div>
			{% if sidebar %}
				<div class="v-content__sidebar">
					<h4>Sponsors</h4>
					<img class="v-content__sponsor" src="https://via.placeholder.com/100x100/" alt="placeholder" width="100" height="100">
					<img class="v-content__sponsor" src="https://via.placeholder.com/100x100/" alt="placeholder" width="100" height="100">
					<div class="v-content__meta">
						<ul class="v-content__meta-list">
							<li class="v-content__meta-item"><span>Author:</span><br><span>Melissa Spicknall</span></li>
							{% if post.post_modified != post.post_date %}
								<li class="v-content__meta-item"><span>Updated:</span><br><span>{{post.post_modified|date("F j\, Y", "America/New_York")}}</span></li>
							{% else %}
								<li class="v-content__meta-item"><span>Published:</span><br><span>{{post.post_date|date("F j\, Y", "America/New_York")}}</span></li>
							{% endif %}

							{% if post.terms %}
								<li class="v-content__meta-item">
									<span>Tags:</span><br>
									<span>
										{% for tag in post.terms %}
											{% if tag.name != 'Uncategorized' %}
												<span class="v-content__meta-tag-link" href="{{tag.link}}">{{tag.name}}</span>{% if loop.length != loop.index %},{% endif %}
											{% endif %}
										{% endfor %}
									</span>
								</li>
							{% endif %}
						</ul>
						<span class="v-content__meta-item"><strong>Share:</strong></span>
						<ul class="v-content__meta-list v-content__meta-list--social">
							<li class="v-content__meta-item v-content__social">
								<a class="v-content__social-link" href="#!" aria-label="facebook link" target="_blank" rel="noopener">
									<span class="sr-only">facebook</span>
									<svg class="v-content__social-icon v-icon" role="img" aria-label="facebook icon">
										<use xlink:href="{{theme.link}}/img/icons.svg#v-icon-facebook" />
									</svg>
								</a>
							</li>
							<li class="v-content__meta-item v-content__social">
								<a class="v-content__social-link" href="#!" aria-label="twitter link" target="_blank" rel="noopener">
									<span class="sr-only">Twitter</span>
									<svg class="v-content__social-icon v-icon" role="img" aria-label="twitter icon">
										<use xlink:href="{{theme.link}}/img/icons.svg#v-icon-twitter" />
									</svg>
								</a>
							</li>
							<li class="v-content__meta-item v-content__social v-content__social--share">
								<a class="v-content__social-link" href="#!" aria-label="share link">
									<span class="sr-only">Share</span>
									<svg class="v-content__social-icon v-icon" role="img" aria-label="share icon">
										<use xlink:href="{{theme.link}}/img/icons.svg#v-icon-share" />
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			{% endif %}
	</div>
</article>
