{# @var string class plain text #}
<article class="v-content {{ class }}">
	<div class="container">
		<div class="v-content__inner">
			<div class="v-content__content">
				{{content}}
			</div>
			{% if sidebar %}
				<div class="v-content__sidebar">
					<div class="v-content__meta">
						<ul class="v-content__meta-list">
							{% if author[0] %}
								<li class="v-content__meta-item"><span>{{ (type == 'opportunity') ? 'Contact' : 'Author'}}:</span><br>
									<span>
										{% set auth_name = author[0].primary_title ? author[0].primary_title : author[0].post_title %}

										{% if not author[0].leader_retired[0] %}
										<a href="mailto:{{author[0].leader_email}}?subject={{post.post_title}}">{{auth_name}}</a>{% else %}{{auth_name}}{% endif %},
										{{author[0].secondary_title}} {{author[0].leader_retired[0] ? '<em>(Retired)</em>' : ''}}
									</span>
								</li>
							{% endif %}
							{% if post.post_modified != post.post_date %}
								<li class="v-content__meta-item"><span>Updated:</span><br><span>{{post.post_modified|date("F j\, Y", "America/New_York")}}</span></li>
							{% else %}
								<li class="v-content__meta-item"><span>Published:</span><br><span>{{post.post_date|date("F j\, Y", "America/New_York")}}</span></li>
							{% endif %}

							{% if post.terms %}
								<li class="v-content__meta-item">
									<span>Tags:</span><br>
									<span>
										{% for tag in post.terms %}
											{% if tag.name != 'Uncategorized' %}
												<span class="v-content__meta-tag-link" href="{{tag.link}}">{{tag.name}}</span>{% if loop.length != loop.index %},{% endif %}
											{% endif %}
										{% endfor %}
									</span>
								</li>
							{% endif %}
						</ul>
						<span class="v-content__meta-item">Share:</span>
						<ul class="v-content__meta-list v-content__meta-list--social">
							<li class="v-content__meta-item v-content__social">
								<a href="http://www.facebook.com/share.php?u={{post.link}}" class="v-content__social-link"  target="_blank" rel="noopener" aria-label="facebook - opens in a new tab">
									<span class="sr-only">facebook</span>
									<svg class="v-content__social-icon v-icon" role="img" aria-label="facebook icon">
										<use xlink:href="{{theme.link}}/img/icons.svg#v-icon-facebook" />
									</svg>
								</a>
							</li>
							<li class="v-content__meta-item v-content__social">
								<a href="https://twitter.com/intent/tweet?url={{post.link}}"  class="v-content__social-link"  target="_blank" rel="noopener" aria-label="twitter - opens in a new tab">
									<span class="sr-only">Twitter</span>
									<svg class="v-content__social-icon v-icon" role="img" aria-label="twitter icon">
										<use xlink:href="{{theme.link}}/img/icons.svg#v-icon-twitter" />
									</svg>
								</a>
							</li>
							<li class="v-content__meta-item v-content__social v-content__social--share">
								<a class="v-content__social-link" href="#!" aria-label="share link">
									<span class="sr-only">Share</span>
									<svg class="v-content__social-icon v-icon" role="img" aria-label="share icon">
										<use xlink:href="{{theme.link}}/img/icons.svg#v-icon-share" />
									</svg>
								</a>
							</li>
						</ul>
					</div>
					{% if sponsors %}
					<div class="v-content__meta">

						<ul class="v-content__meta-list">
							<li class="v-content__meta-item">Sponsors:</li>

						{% for sponsor in sponsors %}
							<li class="v-content__meta-item">
								{% if sponsor.sponsor_logo %}
								<a href="{{sponsor.sponsor_website}}" target="_blank" rel="noopener nofollow">
										{% include 'img/img.twig' with {
											id: sponsor.sponsor_logo,
											class: 'v-content__sponsor'
										} %}
								</a>
							</li>
								{% else %}
									<li>{{sponsor.primary_title ? sponsor.primary_title : sponsor.post_title}}</li>
								{% endif %}


							{% endfor %}
						</ul>
						</div>
					{% endif %}
				</div>
			{% endif %}
	</div>
</article>
