{#
	@var string class plain text
#}

{% for item in items %}

	<!-- loop child pages -->
	{% if item.post_parent == post.ID %}
		{% set item = {
				ic_image: item.meta('hero_img') ? item.meta('hero_img') : item.meta('slider')[0].slider_image,
				ic_title: item.post_title,
				ic_text: item.meta('intro'),
				ic_link: {
					link_type: 'internal',
					link: {
						internal_url: item.link,
						new_tab: false,
						text: 'View'
					}
				}
			}
		%}
	{% endif %}

	{% if post.ID == 50 %}
			{% set member = Post(item.ID) %}

			{% set item = {
				ic_image: member.leader_headshot,
				ic_title: member.primary_title ? member.primary_title : member.post_title,
				ic_subtitle: member.secondary_title,
				ic_text: member.meta('content'),
				ic_phone: member.meta('leader_phone'),
				ic_email: member.meta('leader_email'),
				ic_link: {
					link_type: 'external',
					link: {
						external_url: member.leader_website,
						new_tab: false,
						text: 'Website'
					}
				},
			}
		%}
	{% endif %}

	<article class="v-image-content {{class}}">
		<div class="container">
			<div class="v-image-content__inner">
				<div class="v-image-content__img-wrap">
					{%
						if (item.ic_image)
					%}
					{% include 'img/img.twig' with {
						id: item.ic_image,
						class: 'v-image-content__img--bg'
					} %}
					{% include 'img/img.twig' with {
						id: item.ic_image,
						class: 'v-image-content__img'
					} %}
					{% else %}
					<img class="v-image-content__img" src="{{theme.link}}/img/overlea-sign.jpg" alt="overlea neighborhood art sign" width="1920" height="1080">
					{% endif %}
				</div>
				<div class="v-image-content__content">
					<h1 class="v-image-content__content-title">{{item.ic_title}}</h1>
					{% if item.ic_subtitle %}
						<h2 class="epsilon">{{item.ic_subtitle}}</h2>
					{% endif %}
					{%	set default_text = 'PLACEHOLDER TEXT... Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident in aut doloremque ipsa voluptates nostrum, libero animi amet consequuntur. Voluptatem accusantium facere cupiditate suscipit necessitatibus voluptates sint ratione, eos minus.' %}
					{{item.ic_text|default(default_text)}}
					{% if item.ic_email %}
						<!-- <a class="v-image-content__content-cta v-button" href="mailto:{{item.ic_email}}" target="_blank">Email</a> -->
					{% endif %}
					{% if item.ic_phone %}
						<!-- <a class="v-image-content__content-cta v-button" href="tel:{{item.ic_phone}}">Phone</a> -->
					{% endif %}
					{% if item.ic_link.link.internal_url or item.ic_link.link.external_url %}
						{% set link = (item.ic_link.link_type == 'external') ? item.ic_link.link.external_url : item.ic_link.link.internal_url %}
						<a class="v-image-content__content-cta v-button" href="{{link}}" {% if cta.link.new_tab or item.ic_link.link_type == 'external' %}target="_blank"{% endif %}>{{item.ic_link.link.text}}</a>
					{% endif %}
					<!-- <a href="#!" class="">Learn More</a> -->
				</div>
			</div>
		</div>
	</article>
{% endfor %}
